body {
    background: #ece7e3;
    padding: 15px;
    font-size: 24px;
    font-family: cursive;
    color: #000000;
  }

#p{
    padding: 15px;
    font-size: 30px;
    font-family: cursive;
    color: #efc655;

}